<mat-card>
  <form (ngSubmit)="passDetails()" #empForm="ngForm">
    <mat-select name="course" matSelect placeholder="Course" required [(ngModel)]="model.courseId" (selectionChange)="passCourse()">
      <mat-option *ngFor="let course of courses" [value]="course.id">{{course.name}}</mat-option>
    </mat-select>
    <mat-select name="tee" matSelect placeholder="Tee" required [(ngModel)]="model.tee" *ngIf="teeBoxes != undefined">
      <mat-option *ngFor="let tee of teeBoxes" [value]="tee.teeTypeId - 1">{{tee.teeType}}</mat-option>
    </mat-select>
    <mat-select name="players" matSelect placeholder="Players" required [(ngModel)]="model.numPlayers" *ngIf="teeBoxes != undefined">
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
      <mat-option value="4">4</mat-option>
    </mat-select>
    <div class="input-container" *ngIf="model.numPlayers != undefined">
        <mat-form-field>
            <input matInput placeholder="Player 1 Name" type="string" (change)="appendName($event)"/>
        </mat-form-field>
        <mat-form-field *ngIf="model.numPlayers > 1 && model.playerNames.length > 0">
            <input matInput placeholder="Player 2 Name" type="string" (change)="appendName($event)"/>
        </mat-form-field>
        <mat-form-field *ngIf="model.numPlayers > 2 && model.playerNames.length > 1">
            <input matInput placeholder="Player 3 Name" type="string" (change)="appendName($event)"/>
        </mat-form-field>
        <mat-form-field *ngIf="model.numPlayers > 3 && model.playerNames.length > 2">
            <input matInput placeholder="Player 4 Name" type="string" (change)="appendName($event)"/>
        </mat-form-field>
    </div>
    <button *ngIf="teeBoxes != undefined" mat-raised-button color="primary" [disabled]="empForm.invalid">Submit</button>
  </form>
</mat-card>
<mat-card>
  <button routerLink="/card" mat-raised-button color="primary" [disabled]="!isSubmitted">Next</button>
</mat-card>