<div class="hole-wrapper">
  <mat-card class="hole" *ngFor="let hole of holes">
    <mat-card-title>Hole {{hole.hole}}</mat-card-title>
    <mat-card-subtitle>This hole is {{hole.teeBoxes[details.tee].yards}} yards</mat-card-subtitle>
    <mat-card-subtitle>{{hole.teeBoxes[details.tee].par}} is par</mat-card-subtitle>
    <mat-card-subtitle>{{hole.teeBoxes[details.tee].hcp}} is the handicap</mat-card-subtitle>
    <div class="p1"></div>
    <div class="p2" *ngIf="details.numPlayers > 1"></div>
    <div class="p3" *ngIf="details.numPlayers > 2"></div>
    <div class="p4" *ngIf="details.numPlayers > 3"></div>
  </mat-card>
</div>